* {
  box-sizing: border-box;
}
img {
  width: 200px;
}


@media screen and (max-width: 480px) {
  .mainbox{
    width: 480px;
  }
  article > h2{
    text-align: center;
  }
  .App {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;

  }

  .App .item {
    width: calc((100% - 20px) / 2);
    flex-shrink: 1;
  }
  
  .App > div {
    align-items: center;
    text-align: center;
  }
  

  .imgs {
    border-radius: 5px;
  }

  /* src/components/BottomNavbar.css */
.bottom-navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.39);
  border-radius: 20px 20px 0 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-item {
  color: #333;
  text-decoration: none;
}

/* 활성화된 탭의 스타일 */
.nav-item.active {
  font-weight: bold;
}
li{
  list-style: none;
  margin-bottom: 5px;
}
.formInput{
  margin: 0 auto;
  text-align: center;
  padding: 15px;

}
.formInput > input{
  width: 60%;
  margin-right: 10px;
  padding: 10px;
  border-radius: 20px;
}

.formInput > input:nth-child(2){
  width: 25%;
  background-color: black;
  color: white;
}
.item{
  position: relative;
  margin: 10px 0;
}

.overlay-text{
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(50%, 500%);
  color: white;
  font-weight: bold;
}
.ingnow > h1{
  text-align: center;
  font-size: 24px;
  margin: 30px 0;
}

.ingul{
  display: flex;
}
}